* {
    margin: 0;
    padding: 0;
    background: #ccc;
}

#board {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #000;
    padding: 20px;
    background: #b5651e;
}

.row {
    display: flex;
}

.cell {
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
}

.black {
    background: #000;
}

.white-piece {
    color: #f00;
    -webkit-text-stroke: 0.4px #000;
}

.black-piece {
    color: #000;
    -webkit-text-stroke: 0.1px #fff;
}