* {
    margin: 0;
    padding: 0;
    background: #ccc;
}

#board {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #000;
    padding: 20px;
    background: #b5651e;
}

.row {
    display: flex;
}

.cell {
    width: 40px;
    height: 40px;
    background: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.black {
    background: grey;
}

.white-piece {
    font-size: 25px;
    color: #fff;
    -webkit-text-stroke: 0px #fff;
}

.black-piece {
    font-size: 25px;
    color: #000;
    -webkit-text-stroke: 0px #fff;
}

.vacant {
    position: relative;
}

.vacant:after {
    content: '';
    position: absolute;
    top: 16px;
    left: 16px;
    width: 6px;
    height: 6px;
    background-color: yellow;
    border-radius: 50%;
}